.menu {
  margin-left: 5%;

  .meanu-item {
    height: 45px;
    margin: 0.3em;
  }

  .message {
    margin-left: 0.25em;
    line-height: 45px;
  }
}

.history {
  position: absolute;
  bottom: 30px;
}