* {
  margin: 0 auto;
}

body {
  background-color: #F3F3F3;
}

.layout {
  display: grid;
  grid-template-rows: 80px auto 40px;
  grid-template-columns: repeat(16, 6.25%);
}

//.crulse-body {
//  width: 80%;
//  padding: 0;
//  font-family: sans-serif;
//  font-size: 1em;
//  line-height: 1.5;
//  color: #555;
//  background: #fff;
//}
//
//.side-panel {
//  margin: 0;
//  padding-top: 20px;
//  width: 20%;
//  color: #FFFFFF;
//  background-color: #2E4053;
//  float: left;
//}
//
//.main-content {
//  width: 80%;
//  float: right;
//  box-sizing: border-box;
//  padding: 2em 0 0 2em;
//}